@page "/faq"
@inject IStringLocalizer<Resource> localizer

<PageTitle>FAQ</PageTitle>

<h1>@localizer["faq_title"]</h1>

<h4>@localizer["faq_subtitle"]</h4>

<hr />
<p style="font-weight: bold;">@localizer["faq_contact_newlyweds"]</p>
<p>- Kristofer Höglind (@localizer["faq_contact_ex"] Janukiewicz) - <a href="mailto:kristofer.hoglind@gmail.com">kristofer.hoglind@gmail.com</a></p>
<p>- Tiffani Höglind - <a href="mailto:kristofer.hoglind@gmail.com">tiffani.hoglind@outlook.com</a></p>

<hr />
<p style="font-weight: bold;">@localizer["faq_toastmasters"]</p>
<p>- Sandra Janukiewicz</p>
<p>- Rebecca Höglind</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_photograph"]</p>
<p>- <a href="http://www.fotografmagdalena.se/">@localizer["faq_photographer"] Magdalena</a> @localizer["faq_photographer_location"]</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_cake"]</p>
<p>- <a href="https://www.konditoricecil.se/">@localizer["faq_confectionery"] Cecil</a> @localizer["faq_confectionery_location"]</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_bouquet"]</p>
<p>- <a href="https://www.mimosablommor.se/">@localizer["faq_flowers"]</a> @localizer["faq_bouquet_location"]</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_catchbouqet"]</p>
<p>- Emelie Marias</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_drunkfirst"]</p>
<p>- Melvin Höglind</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_food"]</p>
<p>- @localizer["faq_food_order"]</p>

<hr />
<p style="font-weight: bold;">@localizer["faq_location"]</p>
<p>- <a href="https://solgarden-bor.se/">Solgården</a> @localizer["faq_location_bor"]</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8661.63479060342!2d14.1681317!3d57.1300745!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4650c66c5e8c493d%3A0x13cedb4ea612668c!2sSolg%C3%A5rden!5e0!3m2!1ssv!2sse!4v1694887698198!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>